<div class="page-sidebar-inner">
	<div class="page-sidebar-menu">
		<ul class="accordion-menu">
			<li><a href="javascript:void(0)"><i class="fa fa-tachometer"></i>
					<span>거래소</span><i class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu" style="display: block;">
					<li><a href="./deposit">입금</a></li>
					<li><a href="./withdrawal">출금</a></li>
					<li><a href="./transactiondetails">거래내역</a></li>
				</ul></li>
			<li><a  href="javascript:void(0)"><i
							class="fa fa-table"></i> <span>게시판</span><i
							class="accordion-icon fa fa-angle-left"></i></a>
						<ul class="sub-menu">
							<li><a href="./borad">자유게시판</a></li>
							<li><a href="./notice">공지사항</a></li>
						</ul></li>
					<li><a href="javascript:void(0)"><i
							class="fa fa-pie-chart"></i> <span>차트</span><i
							class="accordion-icon fa fa-angle-left"></i></a>
						<ul class="sub-menu">
							
						</ul></li>
					<li><a href="javascript:void(0)"><i class="fa fa-wpforms"></i>
							<span>Forms</span><i class="accordion-icon fa fa-angle-left"></i></a>
						<ul class="sub-menu">
							<li><a href="./signup">회원가입</a></li>

						</ul></li>
				</ul></li>
		</ul>

	</div>
	<!--================================-->
	<!-- Sidebar Footer Start -->
	<!--================================-->
	<div class="sidebar-footer">
		<a class="pull-left" href="page-profile.html" data-toggle="tooltip" data-placement="top" data-original-title="Profile"> <i class="icon-user"></i></a> 
			<a class="pull-left " href="mailbox.html" data-toggle="tooltip" data-placement="top" data-original-title="Mailbox"> <i class="icon-envelope"></i></a> <a
			class="pull-left" href="page-unlock.html" data-toggle="tooltip"
			data-placement="top" data-original-title="Lockscreen"> <i
			class="icon-lock"></i></a> <a class="pull-left" href="page-singin.html"
			data-toggle="tooltip" data-placement="top"
			data-original-title="Sing Out"> <i class="icon-power"></i></a>
	</div>

</div>
<!--/ Sidebar Footer End -->