<div class="page-sidebar-inner">
	<div class="page-sidebar-menu">
		<ul class="accordion-menu">
			<li><a href="javascript:void(0)"><i
					class="fa fa-tachometer"></i> <span>거래소</span></a>
				<ul class="sub-menu" style="display: block;">
					
				</ul></li>


			<li><a href="javascript:void(0)"><i class="fa fa-table"></i>
					<span>게시판</span><i class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu">
					<li><a href="table-static.html">Static</a></li>
					<li><a href="table-responsive.html">Responsive</a></li>
					<li><a href="table-datatable.html">Data Tables</a></li>
					<li><a href="table-footable.html">Foo Tables</a></li>
				</ul></li>
			<li><a href="javascript:void(0)"><i class="fa fa-pie-chart"></i>
					<span>Charts</span><i class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu">
					<li><a href="chart-morris.html">Morris Charts</a></li>
					<li><a href="chart-chartjs.html">ChartJS Charts</a></li>
					<li><a href="chart-flot.html">Flot Charts</a></li>
					<li><a href="chart-chartlist.html">Chartlist Charts</a></li>
					<li><a href="chart-sparkline.html">Sparkline Charts</a></li>
					<li><a href="chart-peity.html">Peity Charts</a></li>
				</ul></li>

			<li class="menu-divider mg-y-20-force"></li>
			<li class="mg-20-force menu-extras">Extras</li>
			<li><a href="javascript:void(0)"><i
					class="fa fa-shirtsinbulk"></i> <span>App View</span><i
					class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu">
					<li><a href="app-chatroom.html">Chat Room</a></li>
					<li><a href="app-calendar.html">Calendar</a></li>
				</ul></li>
			<li><a href="javascript:void(0)"><i class="fa fa-cart-plus"></i>
					<span>eCommarce</span><i class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu">
					<li><a href="ecom-productgrid.html">Product Grid</a></li>
					<li><a href="ecom-productlist.html">Product List</a></li>
					<li><a href="ecom-productview.html">Product View</a></li>
					<li><a href="ecom-order.html">Product Order</a></li>
					<li><a href="ecom-ordercart.html">Order Cart</a></li>
					<li><a href="ecom-checkout.html">Order Checkout</a></li>
				</ul></li>
			<li><a href="javascript:void(0)"><i
					class="fa fa-file-powerpoint-o"></i> <span>Pages</span><i
					class="accordion-icon fa fa-angle-left"></i></a>
				<ul class="sub-menu">
					<li><a href="page-invoice.html">Invoice</a></li>
					<li><a href="page-error404.html">404 Page</a></li>
					<li><a href="page-error500.html">500 Page</a></li>
					<li><a href="page-profile.html">Profile</a></li>
					<li><a href="page-singin.html">Login</a></li>
					<li><a href="page-singup.html">Register</a></li>
					<li><a href="page-unlock.html">Lockscreen</a></li>
					<li><a href="page-password.html">password Reset</a></li>
					<li><a href="page-search.html">Search Result</a></li>
					<li><a href="page-gallery.html">Gallery</a></li>
					<li><a href="page-pricing.html">Pricing Tables</a></li>
					<li><a href="page-treeview.html">Tree View</a></li>
				</ul></li>
			<li><a href="email-template.html"><i
					class="fa fa-folder-open-o"></i> <span>Email Templates</span><span
					class="badge-warning ft-right">Hot</span></a></li>
			<li class="menu-divider mg-y-20-force"></li>
			<li class="mg-20-force menu-others">Others</li>
			<li><a href="../documentation/documentation.html"><i
					class="fa fa-cogs"></i> <span>Documentation</span></a></li>
			<li><a href="../documentation/changelog.html"><i
					class="fa fa-support"></i> <span>Changelog</span><span
					class="badge-danger ft-right">1.0</span></a></li>
		</ul>
		<!--================================-->
		<!-- Sidebar Information Summary -->
		<!--================================-->
		<div class="sidebar-info-summary mg-y-80">
			<p class="tx-uppercase tx-white pd-x-15">Information Summary</p>
			<div class="d-bock pd-x-15">
				<div>
					<p
						class="tx-10 tx-uppercase tx-spacing-1op-8 tx-white mg-b-2 space-nowrap">Memory
						Usage</p>
					<h5 class="tx-white tx-normal mg-b-0">32.3%</h5>
				</div>
				<div class="progress progress-xs mb-2">
					<div class="progress-bar" role="progressbar" style="width: 15%"
						aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-success" role="progressbar"
						style="width: 30%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-teal" role="progressbar"
						style="width: 20%" aria-valuenow="20" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</div>
			<div class="d-block pd-x-15 mg-t-20">
				<div>
					<p
						class="tx-10 tx-uppercase tx-spacing-1 tx-white mg-b-2 space-nowrap">CPU
						Usage</p>
					<h5 class="tx-white tx-normal mg-b-0">140.05</h5>
				</div>
				<div class="progress progress-xs mb-2">
					<div class="progress-bar" role="progressbar" style="width: 25%"
						aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-success" role="progressbar"
						style="width: 40%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-primary" role="progressbar"
						style="width: 30%" aria-valuenow="20" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</div>
			<div class="d-block pd-x-15 mg-t-20">
				<div>
					<p
						class="tx-10 tx-uppercase tx-spacing-1 tx-white mg-b-2 space-nowrap">Disk
						Usage</p>
					<h5 class="tx-white tx-normal mg-b-0">82.02%</h5>
				</div>
				<div class="progress progress-xs mb-2">
					<div class="progress-bar bg-warning" role="progressbar"
						style="width: 35%" aria-valuenow="15" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-danger" role="progressbar"
						style="width: 20%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-primary" role="progressbar"
						style="width: 35%" aria-valuenow="20" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</div>
			<div class="d-block pd-x-15 mg-t-20">
				<div>
					<p
						class="tx-10 tx-uppercase tx-spacing-1 tx-white mg-b-2 space-nowrap">Daily
						Traffic</p>
					<h5 class="tx-white tx-normal mg-b-0">2,201</h5>
				</div>
				<div class="progress progress-xs mb-2">
					<div class="progress-bar bg-warning" role="progressbar"
						style="width: 25%" aria-valuenow="15" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-primary" role="progressbar"
						style="width: 20%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-teal" role="progressbar"
						style="width: 10%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-secondary" role="progressbar"
						style="width: 30%" aria-valuenow="20" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</div>
			<div class="d-block pd-x-15 mg-t-20">
				<div>
					<p
						class="tx-10 tx-uppercase tx-spacing-1 tx-white mg-b-2 space-nowrap">Monthly
						Traffic</p>
					<h5 class="tx-white tx-normal mg-b-0">63,584</h5>
				</div>
				<div class="progress progress-xs mb-2">
					<div class="progress-bar bg-teal" role="progressbar"
						style="width: 15%" aria-valuenow="15" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-primary" role="progressbar"
						style="width: 20%" aria-valuenow="15" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-success" role="progressbar"
						style="width: 15%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-info" role="progressbar"
						style="width: 20%" aria-valuenow="30" aria-valuemin="0"
						aria-valuemax="100"></div>
					<div class="progress-bar bg-danger" role="progressbar"
						style="width: 25%" aria-valuenow="20" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================================-->
			<!-- Sidebar Footer Start -->
			<!--================================-->
			<div class="sidebar-footer">
				<a class="pull-left" href="page-profile.html" data-toggle="tooltip"
					data-placement="top" data-original-title="Profile"> <i
					class="icon-user"></i></a> <a class="pull-left " href="mailbox.html"
					data-toggle="tooltip" data-placement="top"
					data-original-title="Mailbox"> <i class="icon-envelope"></i></a> <a
					class="pull-left" href="page-unlock.html" data-toggle="tooltip"
					data-placement="top" data-original-title="Lockscreen"> <i
					class="icon-lock"></i></a> <a class="pull-left" href="page-singin.html"
					data-toggle="tooltip" data-placement="top"
					data-original-title="Sing Out"> <i class="icon-power"></i></a>
			</div>
			<!--/ Sidebar Footer End -->
		