<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>게시글 상세 페이지</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 mx-auto">
            <h3>게시글 상세 페이지</h3>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th style="width: 20%">제목</th>
                    <td>게시글 제목</td>
                </tr>
               <!--  <tr>
                    <th>작성자</th>
                    <td>작성자1</td>
                </tr> -->
                <tr>
                    <th>작성일</th>
                    <td>2023-04-10</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>게시글 내용입니다. 이곳에는 게시글 내용이 들어갑니다. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum tellus eget nunc bibendum ultricies. Nunc in ligula ultrices, imperdiet dolor non, ullamcorper ante. Donec vel pulvinar odio, vel aliquam libero. Fusce vel bibendum nisl. Fusce nec varius sapien. Nulla facilisi. Sed tincidunt risus ac risus semper feugiat. Duis ut consectetur velit.</td>
                </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-default">목록으로 돌아가기</a>
        </div>
    </div>
</div>
    <script type="text/javascript" src="/static/js/board/detail.js"></script>
</body>
</html>