<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>게시글 목록</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 mx-auto">
            <h3>게시글 목록</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 5%">번호</th>
                    <th style="width: 50%">제목</th>
<!--                     <th style="width: 20%">작성자</th> -->
                    <th style="width: 15%">작성일</th>
                </tr>
                </thead>
                <tbody>
                <!-- 게시글 목록 데이터 반복문으로 출력 -->
                <tr>
                    <td>1</td>
                    <td><a href="#">게시글 제목</a></td>
<!--                     <td>작성자1</td> -->
                    <td>2023-04-10</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/board/list.js"></script>
</body>
</html>
